li a {
    /* margin: 40%;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    text-align: center;
    font-size: 120%;
    color: rgb(24, 224, 24); */
    display: table;
    float: left;
    width: -webkit-fill-available;
    color: rgb(94, 255, 0);
    font-size: 150%;
    border: 2px solid white;
    padding: 1%;
    text-align: center;
}
form{
    text-align: center;
    font-size: 200%;
    color: rgb(255, 255, 255);
}
#vote{
    margin-top: 30px;
    font-size: 200%;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}
p{
    color: red;
    font-size: 200%;
    align-content: center;
    margin-left: 35%;
}

h1{
    font-size: 500%;
    color:white;
    text-align: center;
}

body {
    background: white url("images/background.gif") repeat;

}

.results li{
    align-content: center;
    display: table;
    float: left;
    width: -webkit-fill-available;
    color: white;
    font-size: 150%;
    border: 2px solid white;
    padding: 1%;
    text-align: center;
    
}



#voteagain{
    color: rgb(0, 241, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    position: absolute;
    bottom: 10%;
    right: 45%;

}